<div>
    <div>
        <img src="" alt="">
    </div>
    <p>Dr.Ernie Sanderson</p>
    <h2>Veterinarian-Approved</h2>
    <p>All products</p>
    <div><a href="">View Products</a></div>

</div>

{% schema %}
  {
    "name": "Custom Image Section",
    "class": "custom-image-section",
    "settings": [
    {
        "type": "color",
        "id": "font_color",
        "label": "Font Color",
        "default": "#fff"
      }
    ],
    "presets": [
      {
        "name": "Custom Image Section"
      }
    ]
  }
{% endschema %}