<h1>{{ section.settings.title }}</h1>

{% schema %}
{
  "name": "Hello World",
  "class": "hello-world",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Hello World"
    }
  ],
  "presets": [
    {
      "name": "Hello World"
    }
  ]
}
{% endschema %}