<h1>Hello World</h1>

{% schema %}
    {
        "name": "Hello World",
        "class": "hello-world",
        "settings": [
        ],
        "presets":[
        {
            "name":"Hello World"
        }
        ]
    }
{% endschema %}